[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cffi = "*"
typing-extensions = "*"
pillow = "*"
redis = "*"
lxml = "*"
mako = "*"
markupsafe = "*"
pytz = "*"
botocore = "*"
boto3 = "*"
s3transfer = "*"
jmespath = "*"
werkzeug = "*"
click = "*"
jinja2 = "*"
blinker = "*"
itsdangerous = "*"
requests = "*"
six = "*"
webencodings = "*"
bleach = "*"
gevent = "*"
greenlet = "*"
sqlalchemy = "*"
alembic = "*"
certifi = "*"
urllib3 = "*"
python-dateutil = "*"
markdown = "*"
idna = "*"
aniso8601 = "*"
pycparser = "*"
pyreadline3 = "*"
flask = "*"
flask-restful = "*"
flask-migrate = "*"
psycopg2-binary = "*"
psycogreen = "*"
sqlalchemy-utils = "*"

[dev-packages]

[requires]
python_version = "3"
